# Django
*.py[cod]
*$py.class
__pycache__/
db.sqlite3
media/
static/
.env
vairables/
*.log

# Models
# yolov8n.pt (Included for deployment)

# Others
.vscode/
.idea/
*.spec
dist/
build/
start_server.bat
