--extra-index-url https://download.pytorch.org/whl/cpu
Django==5.0.1
opencv-contrib-python==4.9.0.80
torch==2.1.2+cpu
torchvision==0.16.2+cpu
ultralytics==8.1.24
Pillow==10.2.0
numpy==1.26.3
gunicorn==21.2.0
whitenoise==6.6.0
